In [1]:
import sys
import geopandas as gdp
import os

Modulo_path = r'C:\Users\Philipe Leal\Dropbox\Profissao\Python\Shapefile\Geopandas'

sys.path.insert(0, Modulo_path)

# uma vez definido o path de importação do modulo de interesse, é só importá-lo normalmente!

from Zonal_Stat_Fiona_RASTERIO import Zonal_Stat as ZS

shp_fn = r'C:\Doutorado\2_Trimestre\Disciplinas\Climatologia\ZEEs\ZEE_Antares.shp'
rst_fn = r'C:\Doutorado\2_Trimestre\Disciplinas\Climatologia\Anomalia_simples\Full_Year\Anomalia_Integrada_para_1_ano_45_2055.tif'
out_fn = str(os.path.abspath(shp_fn)[:-4]) + str('.tif')

print(out_fn)

GDP = gdp.read_file(shp_fn, 'r')


A=ZS(shp_fn, rst_fn)

A.head(4)

ModuleNotFoundError: No module named 'Zonal_Stat_Fiona_RASTERIO'

,Name,Area,Tl_especif,Nome_Peixe,PPSAT_coun,PPSAT_sum,PPSAT_mean,PPSAT_min,PPSAT_max,geometry,ID,MAX_Anomalia_Integrada_para_1_ano_45_2055,MIN_Anomalia_Integrada_para_1_ano_45_2055,MEAN_Anomalia_Integrada_para_1_ano_45_2055,STD_Anomalia_Integrada_para_1_ano_45_2055,SUM_Anomalia_Integrada_para_1_ano_45_2055
0,Trindade,5.030717e+11,NaN,None,5850.0,1.892191e+06,323.451463,258.354034,406.260620,"POLYGON ((-32.9004205306 -20.4669796671, -32.8...",1,602,-3769,-437,980,-2556911
1,Falkland Islands,8.955677e+11,NaN,None,10109.0,4.020786e+06,397.743241,132.797684,812.061096,"POLYGON ((-65.0039325605 -51.3659626959, -64.6...",2,6992,-1461,4283,1668,44585106
2,Clipperton Island,4.413001e+11,NaN,None,5126.0,3.228076e+06,629.745521,560.985229,670.776611,"POLYGON ((-112.6230466049 10.2861223615, -112....",3,-3582,-8657,-5875,1170,-30119660
3,Galapagos Islands,8.494094e+11,NaN,None,9780.0,7.823887e+06,799.988450,0.870926,1893.190796,"POLYGON ((-95.3457445888 1.6630853535, -95.296...",4,-9546,-19856,-14477,2893,-142925769

In [6]:
import os    
try: 
    os.remove(shp_fn)
except OSError:
    pass

A.to_file(driver='ESRI Shapefile',filename=shp_fn)

In [8]:
A = gdp.read_file(shp_fn)

A.head(4)

,Name,Area,Tl_especif,Nome_Peixe,PPSAT_coun,PPSAT_sum,PPSAT_mean,PPSAT_min,PPSAT_max,ID,MAX_Anomal,MIN_Anomal,MEAN_Anoma,STD_Anomal,SUM_Anomal,geometry
0,Trindade,5.030717e+11,NaN,None,5850.0,1.892191e+06,323.451463,258.354034,406.260620,1,602,-3769,-437,980,-2556911,"POLYGON ((-32.9004205306 -20.4669796671, -32.8..."
1,Falkland Islands,8.955677e+11,NaN,None,10109.0,4.020786e+06,397.743241,132.797684,812.061096,2,6992,-1461,4283,1668,44585106,"POLYGON ((-65.0039325605 -51.3659626959, -64.6..."
2,Clipperton Island,4.413001e+11,NaN,None,5126.0,3.228076e+06,629.745521,560.985229,670.776611,3,-3582,-8657,-5875,1170,-30119660,"POLYGON ((-112.6230466049 10.2861223615, -112...."
3,Galapagos Islands,8.494094e+11,NaN,None,9780.0,7.823887e+06,799.988450,0.870926,1893.190796,4,-9546,-19856,-14477,2893,-142925769,"POLYGON ((-95.3457445888 1.6630853535, -95.296..."